<div class="table-responsive">
                <table class="table mb-0">
                    <tbody class="thead-dark">
                    <tr>
                        <th>Прибыль инвестора</th>
                        <td>{{ total.total_investor_amount|floatformat:2 }} грн</td>
                    </tr>
                    <tr>
                        <th>Прибыль парка</th>
                        <td>{{ total.total_firm_amount|floatformat:2 }} грн</td>
                    </tr>
                    <tr>
                        <th>Assistance</th>
                        <td>{{ total.total_operating|floatformat:2 }} грн</td>
                    </tr>

                    <tr>
                        <th>Сумма заработанная машиной</th>
                        <td>{{ total.car_amount|floatformat:2 }} грн</td>
                    </tr>
                    <tr>
                        <th>Количество поездок</th>
                        <td>{{ total.trip }}</td>
                    </tr>
                    <tr>
                        <th>Пробег</th>
                        <td>{{ total.mileage|floatformat:2 }} км</td>
                    </tr>
                    <tr>
                        <th>Сумма полученных средств</th>
                        <td>{{ total.amount|floatformat:2 }} грн</td>
                    </tr>
                    <tr>
                        <th>Полученные наличные средства</th>
                        <td>{{ total.cash|floatformat:2 }} грн</td>
                    </tr>
                    <tr>
                        <th>БН средства</th>
                        <td>{{ total.total_credit_cart_sum|floatformat:2 }} грн</td>
                    </tr>

                    <tr>
                        <th>Затраты на топливо</th>
                        <td>{{ total.fuel|floatformat:2 }} грн</td>
                    </tr>
                    <tr>
                        <th>Зарплата водителя</th>
                        <td>{{ total.driver_amount|floatformat:2 }} грн</td>
                    </tr>
                    <tr>
                        <th>Процент оператора такси</th>
                        <td>{{ total.payer_amount|floatformat:2 }} грн</td>
                    </tr>
                    <tr>
                        <th>Банковский процент</th>
                        <td>{{ total.total_bank|floatformat:2 }} грн</td>
                    </tr>

                    <tr>
                    </tr>
                    </tbody>
                </table>
            </div>