{% extends 'base.html' %}
{% load fw_paginator %}
{% block SUB_MENU_CONTENT %}
{% endblock %}

{% block CONTENT %}
    <div id="main" class="pure-u-1">
        <div class="email-content">
            <div class="email-content-header pure-g">
                <div class="pure-u-1-2">
                    <h1 class="email-content-title">Балансы</h1>
                </div>

                <div class="email-content-controls pure-u-1-2">
                    <form method="get">
                        <input type="text" name="car__name" placeholder="имя"
                               value="{{ filter_form_values.name }}"/>
                        <button type="submit" class="secondary-button pure-button">filter</button>
                    </form>
                </div>
            </div>

            <div class="email-content-body">
                <div class="pure-g center">
                    <table class="pure-table pure-u-1 pure-table-bordered">
                        <tr>
                            <th>Акаунт</th>
                            <th>Текущий баланс</th>
                            <th>Валюта</th>
                            <th>На период</th>
                            <th>Баланс</th>
                            <th>Дебит</th>
                            <th>Кредит</th>
                        </tr>

                        {% for obj in object_list %}
                            <tr>
                                <td>{{ obj.name }}</td>
                                <td>{{ obj.current_balance|floatformat:2}}</td>
                                <td>{{ obj.get_currency }}</td>
                                <td>{{ obj.last_statemnet_date}}</td>
                                <td>{{ obj.last_statemnet_balance|floatformat:2}}</td>
                                <td>{{ obj.last_statemnet_debit|floatformat:2}}</td>
                                <td>{{ obj.last_statemnet_credit|floatformat:2}}</td>
                            </tr>
                        {% endfor %}

                    </table>
                    {% paging_navigation page_obj %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}