{% load fw_paginator %}

{% load i18n %}

{% if page_obj %}
    <nav aria-label="Page navigation" class="pure-menu pure-menu-horizontal center">
        <ul class="pure-menu-list">
            <li class="pure-menu-item">
                {% if page_obj.has_previous %}
                    <a class="page-link waves-effect pure-menu-link" href="{% form_url page=page_obj.previous_page_number %}"
                       aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                {% else %}
                    <span class="page-link disabled pure-menu-link" aria-label=__("Previous")>
                    <span aria-hidden="true">&laquo;</span>
                </span>
                {% endif %}
            </li>
            {% if page_before_range %}
                {% for i in page_before_range %}
                    <li class="pure-menu-item waves-effect"><a class="pure-menu-link" href="{% form_url page=i %}">{{ i }}</a></li>
                {% endfor %}
            {% else %}
                {% for i in page_obj.number|paginator_before:page_obj.paginator.num_pages %}
                    <li class="pure-menu-item waves-effect"><a class="pure-menu-link" href="{% form_url page=i %}">{{ i }}</a></li>
                {% endfor %}
            {% endif %}
            <li class="pure-menu-item"><span class="pure-menu-link active">{{ page_obj.number }}</span></li>
            {% if page_after_range %}
                {% for i in page_after_range %}
                    <li class="pure-menu-item waves-effect"><a class="pure-menu-link" href="{% form_url page=i %}">{{ i }}</a></li>
                {% endfor %}
            {% else %}
                {% for i in page_obj.number|paginator_after:page_obj.paginator.num_pages %}
                    <li class="pure-menu-item waves-effect"><a class="pure-menu-link" href="{% form_url page=i %}">{{ i }}</a></li>
                {% endfor %}
            {% endif %}
            <li class="pure-menu-item">
                {% if page_obj.has_next %}
                    <a class="pure-menu-link waves-effect" href="{% form_url page=page_obj.next_page_number %}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                {% else %}
                    <span class="pure-menu-link disabled" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </span>
                {% endif %}
            </li>
        </ul>
    </nav>
{% endif %}